.form {

}
.form textarea,
.form input {
    width: 100%;
}

.form input[type='submit'] {
    padding: 10px 5px;
    background: #aaffb9;
    border: 0;
    cursor: pointer;
}
.form textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 100px;
}